*{
    margin: 0;
    padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
    height: 100vh;
    display:flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    background: rgb(120, 159, 230);
    font-family: sans-serif;
    color: white;
    
}

#particles-js {
    background: rgb(54, 54, 54);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.inputBox{
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.inputBox input{
    width: 300px;
    height: 30px;
    margin: 0 10px;
    font-size: 1.2rem;
}
.inputBox button{
    width: 90px;
    height: 34px;
    background: rgb(65, 144, 255);
    color: white;
    border: none;
    font-size: 1.2rem;
}
.data{
    width: 800px;
    margin: 0 auto;
}
.box .head {
    border: 1px solid rgb(236, 234, 234);
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
}
.box .head span{
     margin: 10px;
    font-size: 30px;

}
.total{
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: space-between;
}
.total div{
    margin-top: 20px;
    margin-left: 20px;
    width: 35%;
    height: 200px;
    font-size: 2rem;
    text-align: center;
    color: white;
    border-radius: 2vw;
}
.total div p{
    margin: 10px 0 50px 0;
    padding: 5px 0;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.total div:nth-child(1){
    background: #ff304f67;
}
.total div:nth-child(2){
    background: #0f69d165;
}
.total div:nth-child(3){
    background: #8535e059;
}

.new{
    margin-top: 60px;
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: space-between;
}
.new div{
    margin-top: 20px;
    margin-left: 20px;
    width: 35%;
    height: 200px;
    font-size: 2rem;
    text-align: center;
    color: white;
    border-radius: 2vw;
} 
.new div p{
    margin: 10px 0 50px 0;
    padding: 5px 0;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.new div:nth-child(1){
    background: #2cd8358c;
}
.new div:nth-child(2){
    background: #ff005585;
}
.new div:nth-child(3){
    background: #ffa60188;
}
